@using BlockFarmEditor.Components.Blocks.Badge
@model BadgeProperties
@{
    var badgeClass = $"badge text-bg-{Model.BadgeColor}";
    if (Model.RoundedPill)
    {
        badgeClass += " rounded-pill";
    }
}

<span class="@badgeClass">@Model.BadgeText</span>
