@using BlockFarmEditor.Components.TestingBlocks.BootstrapContainer
@model ContainerProperties
<div class="@Model.Container.FirstOrDefault()">
    <block-area identifier="container"></block-area>
</div>