@using BlockFarmEditor.Components.Blocks.BootstrapGrid
@model ContainerProperties
@{ 
    IEnumerable<string> allowedBlocks = ["blockfarmeditor.bootstrap-row"];
}

<div class="@Model.Container">
    <block-area identifier="container" allowed-blocks="@allowedBlocks"></block-area>
</div>