@using BlockFarmEditor.Components.Blocks.BootstrapGrid
@model RowProperties


<div class="row">
    @foreach(var column in Model.Columns)
    {
        <partial name="~/Components/Blocks/BootstrapGrid/Column.cshtml" model="column.Content" />
    }
</div>