@using BlockFarmEditor.Blocks
@model TwoColumnSectionProperties

@if (!string.IsNullOrWhiteSpace(Model.Header))
{
    <h2>@Model.Header</h2>
}

<div class="row">
    <div class="col-12 col-md-6">
        <block-area identifier="column1"></block-area>
    </div>

    <div class="col-12 col-md-6">
        <block-area identifier="column2"></block-area>
    </div>
</div>