@model BlockFarmEditor.Components.Blocks.Spinner.SpinnerProperties
@{
    var spinnerClass = Model.SpinnerType;
    
    if (!string.IsNullOrWhiteSpace(Model.SpinnerColor))
    {
        spinnerClass += $" {Model.SpinnerColor}";
    }
    
    if (!string.IsNullOrWhiteSpace(Model.SpinnerSize))
    {
        spinnerClass += $" {Model.SpinnerSize}";
    }
}

<div class="@spinnerClass" role="status">
    <span class="visually-hidden">@Model.ScreenReaderText</span>
</div>
